<div class="form-register">
    <form (submit)="onSubmit()" #userForm="ngForm">
        <div class="tp-container">
          <div>Welcome to POKESWAP</div><br>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Nombre"
              id="name"
              name="name"
              required
              [(ngModel)]="userData.name"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Password"
              id="password"
              name="password"
              required
              [(ngModel)]="userData.password"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Email"
              id="email"
              name="email"
              required
              [(ngModel)]="userData.email"
            />
          </mat-form-field>
          <button
          type="submit"
          mat-button
          color="primary"
          [disabled]="!userForm.form.valid"
        >
          REGISTER
        </button>
        </div>
      </form>
</div>
