<div class="instr">
    <div>
        <h1 class="header">
            How to Trade on Our Platform
        </h1><br>
        <p class="note">
            Please note that all of these steps are performed automatically. You just need to learn the basic functionality and start trading!
        </p><br>
        <ul class="steps">
            <li>
                <span>Step 1: Select a Currency</span>
                <p>Currencies are a crucial element in starting your trading journey. Go to the Currencies tab and select the one that best suits your needs.</p>
            </li><br>
            <li>
                <span>Step 2: Select a Token</span>
                <p>Tokens are the coins that you will be trading. In the first version, you have some bonus balance, so select the token that you like best and start trading!</p>
            </li><br>
            <li>
                <span>Step 3: Make the Exchange</span>
                <p>As this is a demo version, you will be performing exchanges with the platform. Don't worry, in the next version, you will be able to trade with other people!</p>
            </li><br>
        </ul><br>
    
        <p class="note">
            User Panel, Token Portfolio & Peer-to-peer Trade Features coming soon!!!
        </p>
    </div>
</div>

