/* Header Section */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header .logo {
    width: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #000;
}

header .logo img {
    height: 60px;
    width: 60px;
}

header .logo h1 {
    margin: 15px;
    color: #FF4DD8;
}

.navbar {
    justify-content: center;
}

.menu {
    text-decoration: none;
    display: flex;
    margin: 0;
    height: 100%;
}

.menu-item {
    text-decoration: none;
    justify-content: center;
    font-size: 16px;
    list-style: none;
    color: #fff;
    font-weight: 500;
    margin: auto 10px;
    padding: 10px 10px;
    border-radius:  5px;
}

header .menu .menu-item a {
    text-decoration: none;
    color: #000;
}

header .menu .menu-item:hover {
    color: #fff;
    background-color: #9747FF;
}

header .menu .menu-item a:hover {
    color: #fff;
}

.btn-open-account {
    color: #000;
    justify-content: center;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    margin: auto 0;
    border: none;
    cursor: pointer;
}

.btn-open-account button {
    background-color: #9747FF;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

.btn-open-account button:hover {
    background-color: #c397fd;
    color: #fff;
    text-decoration: none;
}


/* ------------- Main Section ------------------ */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0;
}



/* Hero Section */

.hero {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}

.hero-text {
    width: 70%;
}

.back-hero-text {
    display: flex;
    margin-top: 115px;
}

.line {
    height: 1px;
    width: 200px;
    margin: auto 10px;
    background-color: #9747FF;
}

.back-hero-text h3 {
    font-size: small;
    color: #9747FF;
}

.hero .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 2.5rem;
    color: transparent;
    font-weight: 900;
    background: linear-gradient(90deg, #9747FF 0%, #FF4DD8 100%);
    -webkit-background-clip: text;
}

.hero-text h4 {
    font-size: 1rem;
    font-weight: regular;
}

.hero-text button {
    background-color: #000;
    color: #fff;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin: 10px 0;
}



/* Cryto Section */

.cryptos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 100%;
}

.carousel-item {
    height: 125px;
    background-color: #000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 50px;
    padding: 20px;
    color: #fff;
}

.carousel-item .crypt-title {
    display: flex;
    align-items: center;
}

.carousel-item img {
    height: 50px;
    width: 50px;
}



/* About Section */

.about-block {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    margin: 50px;
}

.text-about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 525px;
}

.text-about-container h1 {
    font-size: 2.5rem;
    color: transparent;
    font-weight: 800;
    background: linear-gradient(90deg, #9747FF 0%, #FF4DD8 100%);
    -webkit-background-clip: text;
}

.text-about-container p {
    font-size: 1rem;
    font-weight: regular;
}

.about-section .about-img {
    width: 475px;
    text-align: center;
}

.about-section .about-img img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 250px;
    width: 450px;
    transform: perspective(4cm) rotateY(352deg) rotateX(2deg);
}

.data-view {
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.data-view-item {
    text-align: center;
    width: 350px;
}



/* Feature Section */

.feature-img {
    width: 425px;
    margin: 20px;
}

.feature-img img {
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 100%;
}

.feature-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 50px;
}

.feature-text h1 {
    font-size: 2.5rem;
    color: transparent;
    font-weight: 800;
    background: linear-gradient(90deg, #9747FF 0%, #FF4DD8 100%);
    -webkit-background-clip: text;
}

.feature-list-item {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.feature-text button {
    background-color: #9747FF;
}

.btn-open-account {
    height: 35px;
}



/* help section */

.help-section {
    display: flex;
    padding-top: 100px;
    flex-direction: row;
}

.help-section .help-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 40px;
}

.help-section .help-text h1 {
    font-size: 2.5rem;
    color: transparent;
    font-weight: 800;
    background: linear-gradient(90deg, #9747FF 0%, #FF4DD8 100%);
    -webkit-background-clip: text;
    padding: 10px;
    width: 100%;
}

.help-section .help-text p {
    font-weight: regular;
    width: 80%;
}

.help-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.help-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 20px;
}

.help-box h3 {
    font-size: 2.5rem;
    color: transparent;
    font-weight: 800;
    background: linear-gradient(90deg, #9747FF 0%, #FF4DD8 100%);
    -webkit-background-clip: text;
}

.help-section .help-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-bottom: 150px;
    margin: 40px;
}

.help-section .help-img img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 400px;
    transform: rotate(-10deg);
}

.btn-open-account button {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 140px;
    margin-bottom: 150px;
}

.btn-open-account {
    margin-right: 125px;
}



/* Community */

.community-section {
    flex-wrap: nowrap;
    flex-direction: column;
    min-height: 750px;
}

.community-text {
    width: 75%;
}

video {
    margin: auto;
}

.community-section h1 {
    font-size: 2.5rem;
    color: transparent;
    font-weight: 800;
    background: linear-gradient(90deg, #9747FF 0%, #FF4DD8 100%);
    -webkit-background-clip: text;
    padding: 10px;
    padding-left: 40px;
    margin: auto;
}

.community-section p {
    font-size: 1rem;
    font-weight: regular;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.community-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.community-card {
    display: flex;
    margin: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    padding: 10px;
    background-color: #000;
    border-radius: 1rem;
    color: white;
}

.profile-community {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blank-space {
    height: 100px;
}

.disclaimer-section {
    display: flex;
    max-height: 20vh;
    justify-content: center;
    padding: 30px 0;
    align-items: center;
    background-color: rgba(151, 71, 255, 0.459);
    color: rgb(0, 0, 0);
}

.disclaimer-section h1 {
    font-size: small;
}

.disclaimer-section p {
    margin: 0 175px; 
    font-size: small;
}



/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.footer-text {
    width: 30%;
    margin: 0 150px;
}

.footer-text p {
    font-size: large;
    font-weight: bold;
    margin-top: 25px;
    padding-left: 100px;
}

.footer-social {
    width: 70%;
    margin: 0 150px;
}

.footer-social-list {
    display: flex;
    flex-direction: row;
}

.footer-social ul li {
    list-style: none;
    text-decoration: none;
    margin: auto;
}

.bt_close {
    background-color: brown;
    margin: auto 0;
    margin-left: 20px;
}

.bt_menu {
    display: flex;
    background-color: blueviolet;
    margin: auto 0;
    margin-left: 20px;
}




/*  STYLE RESPONSIVE__________________________________________  */

/* Estilos para dispositivos pequeños (hasta 650px) */
@media only screen and (max-width: 650px) {

    header {
        justify-content: left;
    }

    .carousel-item {
        height: 150px;
    }

    .data-view {
        width: 75%;
    }

    .disclaimer-section {
        max-height: 80vh;
    }
    
    .disclaimer-section p {
        margin: 0 25px;
        text-align: center;
    }

    .about-img {
        img {
            transform: none !important;
            width: 75% !important;
        }
    }

    .feature-img {
        text-align: center;

        img {
            width: 75%;
        }
    }

    .feature-text {
        width: 75%;
    }

    .help-box {
        width: 75px;
    }

    .help-img {
        img {
            width: 75% !important;
        }
    }

    .help-text {
        width: 75% !important;
    }

    .text-about-container {
        width: 75%;
    }

    .cryptos {
        width: 75%;
    }

    .community-section {
        min-height: 350px;
    }
}
  
/* Estilos para dispositivos medianos (de 651px a 1104px) */
@media only screen and (max-width: 1104px)  {

    .disclaimer-section {
        max-height: 50vh;
    }

    .footer-text {
        display: none;
    }

    .footer-social {
        margin: auto;

        .footer-social-list {
            padding: 0;
        }
    }

    .menu_items {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: white;
        transition: all 2s;
        z-index: 10;

        button {
            margin-top: 10px;
        }

        .bt {
            margin-bottom: 10px;
            padding: 20px 30px;
        }
        a {
            padding-bottom: 50px;
            font-size: large;
        }
    }

    .navbar {
        display: none;
    }

    .btn-open-account {
        display: none;
    }
}
  
/* Estilos para dispositivos grandes (más de 1105px) */
@media only screen and (min-width: 1105px){
    .bt_menu {
        display: none;
    }
}
