<mat-toolbar color="primary">
  <img src="../../../assets/img/logo-poke.png" alt="" />
  <span>PokeSwap</span>
  <span class="example-spacer"></span>

  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'currencies'"
    routerLink="currencies"
  >
    Currencies
  </button>

  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'token'"
    routerLink="token"
  >
    Token
  </button>

  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'portfolio'"
    routerLink="portfolio"
  >
    Portfolio
  </button>

  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'exchange'"
    routerLink="exchange"
  >
    Exchange
  </button>


  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'home' with home icon"
    routerLink="dashboard"
  >
    <mat-icon>home</mat-icon>
    Home
  </button>
  
</mat-toolbar>
