<mat-toolbar color="primary" style="height: 80px;">
  <img src="../../../assets/img/logo-poke.png" alt="" />
  <a mat-button href="/dashboard/currencies">PokeSwap</a>
  <span class="example-spacer"></span>

  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'portfolio'"
    routerLink="portfolio"
  >
    Portfolio
  </button>

  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'wallet'"
    routerLink="wallet"
  >
    Billetera
  </button>

  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'operations'"
    routerLink="operations"
  >
    Operations
  </button>

  
  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'platforms"
    routerLink="platforms"
  >
    Platforms
  </button>

  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'crypto'"
    routerLink="crypto"
  >
    Crypto
  </button>

  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'exchange'"
    routerLink="exchange"
  >
    Exchange
  </button>


  <button
    mat-fab
    extended
    color="warn"
    aria-label="Button for 'exit' with exit icon"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
    LogOut
  </button>

  <button *ngIf="!visible; else bloqueElse" mat-icon-button class="bt_menu" aria-label="Example icon-button with menu icon" (click)="showMenu(true)">
    <mat-icon>menu</mat-icon>
  </button>
  <ng-template #bloqueElse>
    <button mat-icon-button class="bt_close" aria-label="Example icon-button with menu icon" (click)="showMenu(false)">
      <mat-icon>close</mat-icon>
    </button>
  </ng-template>
  
</mat-toolbar>

<div class="menu_items" *ngIf="visible" (click)="showMenu(false)">
  <a mat-button color="basic" routerLink="portfolio">PORTFOLIO</a>
  <a mat-button color="basic" routerLink="currencies">CURRENCIES</a>
  <a mat-button color="basic" routerLink="token">TOKEN</a>
  <a mat-button color="basic" routerLink="exchange">EXCHANGE</a>
  <button mat-raised-button color="primary"><a routerLink="login">LOGOUT</a></button>
</div>