<mat-toolbar color="primary">
  <img src="../../../assets/img/logo-poke.png" alt="" />
  <a mat-button href="/dashboard/currencies">PokeSwap</a>
  <span class="example-spacer"></span>

  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'portfolio'"
    routerLink="portfolio"
  >
    Portfolio
  </button>

  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'operations'"
    routerLink="operations"
  >
    Operations
  </button>

  
  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'currencies'"
    routerLink="currencies"
  >
    Currencies
  </button>

  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'token'"
    routerLink="token"
  >
    Token
  </button>

  <button
    mat-fab
    extended
    color="primary"
    aria-label="Button for 'exchange'"
    routerLink="exchange"
  >
    Exchange
  </button>


  <button
    mat-fab
    extended
    color="warn"
    aria-label="Button for 'exit' with exit icon"
    routerLink="login"
  >
    <mat-icon>logout</mat-icon>
    LogOut
  </button>
  
</mat-toolbar>
